<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977833646313-nledgkecc3pi74chdjbsduhrkdk5m69b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977833646313-nledgkecc3pi74chdjbsduhrkdk5m69b</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJfh40m6NDPpob3j--G1zRiIbeC_Z4Kw</string>
	<key>GCM_SENDER_ID</key>
	<string>977833646313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>login-page-1cb09</string>
	<key>STORAGE_BUCKET</key>
	<string>login-page-1cb09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977833646313:ios:186595491aa0f079e7b878</string>
</dict>
</plist>